:root .DT-img {
    width: 100%
}

.DT-img {
    display: inline-block;
    height: auto
}

.DT-logo {
    max-width: 40%
}

.DT-upperImage {
    margin-top: -50px
}

.DT-frontImg {
    max-width: 100%;
    margin-top: -75px
}
